###########################################################################
#                            CUSTOM SNIPPETS                            #
###########################################################################
snippet log "Insert console.log" b
console.log()
endsnippet

# vim:ft=snippets:
