###########################################################################
#                            CUSTOM SNIPPETS                            #
###########################################################################
snippet ipdb "Insert ipdb breakpoint" b
import ipdb; ipdb.set_trace()
endsnippet

# vim:ft=snippets:
