[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = http://github.com/tpope/vim-surround.git
[submodule "bundle/vimango"]
	path = bundle/vimango
	url = git@github.com:tuxcanfly/ViMango.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = http://github.com/mexpolk/vim-taglist.git
[submodule "snippets_repo"]
	path = snippets_repo
	url = git@github.com:tuxcanfly/snipmate_for_django.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/vim-sparkup"]
	path = bundle/vim-sparkup
	url = https://github.com/bingaman/vim-sparkup.git
[submodule "bundle/ragtag"]
	path = bundle/ragtag
	url = https://github.com/tpope/vim-ragtag.git
